<!DOCTYPE html>
<html lang="en">
 <%- include('./partials/head'); %>
<body>

   <%- include('./partials/nav'); %>

   <div class="not-found content">
    OOPS, page not found :)
  </div>

</body>
<%- include('./partials/foot'); %>
</html>